
/development/build/
/factory/build/
/webgui/build/
/.idea/
/server/build/
/richclient/build/
/restutil/build/
/jettyserver/build/
/guimodel/build/
/example/build/
/datastorage/build/
/build/
/adminUiAngularjs/build/
/adminUiJavafxClient/build/
/adminUiAngularjs/build/resources/
/adminUiJavafxServer/build/
/javafxDistributionExample/build/
/javafxDistribution/build/
/javafxDataEditing/build/
/data/build/
/.gradle/
/applicationServer/build/
/utilfx/build/
/applicationServerRest/build/
/applicationServerRestClient/build/
