/*/build/
/*/out/
.gradle/
/.idea/
factoryfx.iml
/factoryfx/
/typescriptGenerator/src/test/java/io/github/factoryfx/factory/typescript/generator/ts/node_modules/
# Ignores compiled TypeScript files
**/typescriptGenerator/**/*.js
**/typescriptGenerator/**/*.map
typescriptGenerator/src/test/ts/node_modules
/docu/src/main/java/io/github/factoryfx/docu/migration/~$overview.pptx
/example/storage/
/build/reports/problems/problems-report.html
