<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>{{factoryView.title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3 style="margin-top: 0px">Data</h3>
            <table class="table table-condensed table-bordered table-striped table-hover" style="table-layout: fixed; word-wrap:break-word;">
                <thead>
                <tr>
                    <th>Factory</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="factory in factoryView.factories" ng-class="{'info': factory.id===selected.factory.factory.id}">
                    <td ng-click="showFactory(factory.id)">{{factory.displayText}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-8">
            <h3 style="margin-top: 0px">Details</h3>
            <div ng-if="selected.factory.factory">
                <dl class="dl-horizontal">
                    <dt ng-repeat-start="(attributeName, attributeValue) in selected.factory.factory"
                        ng-init="attributeMetadata=metaData[selected.factory.type].attributes[attributeName];
                                 labelText=attributeMetadata.labelText;"
                        ng-if="attributeName!=='id' && attributeName!=='@class'">
                    {{labelText}}</dt>
                    <dd ng-repeat-end ng-if="attributeName!=='id' && attributeName!=='@class'">{{getDisplayValue(attributeValue,attributeMetadata=metaData[selected.factory.type].attributes[attributeName].attributeType)}}</dd>
                </dl>
                <div>
                    <button ng-disabled="!selected.factory.factory" type="button" class="btn btn-default pull-right" ng-click="editFactory(selected.factory.factory)">edit</button>
                </div>
            </div>
        </div>
    </div>


</div>