<div style="max-height:500px; overflow:auto">
    <table class="table table-condensed table-bordered table-striped" style="table-layout: fixed; word-wrap:break-word;" ng-if="mergeDiff.mergeInfos.length!==0 || mergeDiff.conflictInfos.length!==0">
        <thead>
        <tr>
            <th>{{guiModel.messages.dataItemTableColumn}}</th>
            <th>{{guiModel.messages.fieldTableColumn}}</th>
            <th>{{guiModel.messages.previousValueTableColumn}}</th>
            <th>{{guiModel.messages.newValueTableColumn}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in mergeDiff.mergeInfos" ng-click="getDiffDetail(item)" ng-class="{'info': item===selected.info}">
            <td style="white-space: pre-wrap;">{{item.parentDisplayText}}</td>
            <td style="white-space: pre-wrap;">{{item.fieldDisplayText}}</td>
            <td style="white-space: pre-wrap;">{{item.previousValueDisplayText}}</td>
            <td style="white-space: pre-wrap;">{{item.newValueValueDisplayText}}</td>
        </tr>
        <tr ng-repeat="item in mergeDiff.conflictInfos" ng-click="getDiffDetail(item)" ng-class="{'info': item===selected.info}">
            <td style="white-space: pre-wrap;" class="danger">{{item.parentDisplayText}}</td>
            <td style="white-space: pre-wrap;" class="danger">{{item.fieldDisplayText}}</td>
            <td style="white-space: pre-wrap;" class="danger">{{item.previousValueDisplayText}}</td>
            <td style="white-space: pre-wrap;" class="danger">{{item.newValueValueDisplayText}}</td>
        </tr>
        </tbody>
    </table>
    <div ng-if="selected.diffdetail">
        <h4>Diff</h4>
        <pre  ng-bind-html="selected.diffdetail"></pre>
    </div>
    <div class="alert alert-info" role="alert" ng-if="!mergeDiff || mergeDiff.mergeInfos.length==0">
        No changes.
    </div>
</div>
