.NAME {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.KEYWORD {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.STRING {
    -fx-fill: firebrick;
}
.REGEX {
    -fx-fill: peachpuff;
}
.PUNCTUATION {
    -fx-font-weight: bold;
}
.COMMENT {
    -fx-fill: grey;
}
.NUMBER {
    -fx-fill: darkblue;
    -fx-font-weight: bold;
}

.ERROR {
    -fx-underline: true;
    -fx-fill: red;
    -fx-font-weight: bold;
}

.WARNING {
    -fx-underline: true;
    -fx-fill: yellow;
}
