<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>{{guiModel.factoryEditorModel.editorTitle}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>{{guiModel.factoryEditorModel.initialisationTitle}}</h3>
            <uib-progressbar ng-if="initializingEditing" class="progress-striped active" value="dynamic">loading configuration</uib-progressbar>
            <uib-progressbar ng-if="!initializingEditing" animate="true" value="dynamic" type="success">loaded</uib-progressbar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>{{guiModel.factoryEditorModel.editingTitle}}</h3>
            <div ng-if="selected.factory">
                <ol class="breadcrumb">
                    <li ng-repeat="pathElement in selected.factory.path"><a  ng-click="!isDirty() && selectFactory(pathElement.id)" ng-class="{disabledLink: isDirty(), active: pathElement.id===selected.factory.factory.id}">{{pathElement.displayText}}</a></li>
                    <li class="active">{{selected.factory.displayText}}</li>
                </ol>
                <form ng-submit="factory.form.$valid && save()" name="factory.form" novalidate>
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ selected.factory.displayText }}</div>
                        <div class="panel-body">
                            <div ng-repeat="(attributeName, attributeValue) in selected.factory.factory"
                                 ng-init="attributeMetadata=metaData[selected.factory.type].attributes[attributeName];
                                          labelText=attributeMetadata.labelText;
                                          required=attributeMetadata.required;
                                          ">

                                <div ng-if="attributeName!=='id' && attributeName!=='@class'">
                                    <div ng-switch="attributeMetadata.attributeType">

                                        <div class="form-group" ng-switch-when="VALUE">
                                            <valueeditor model="selected.factory.factory[attributeName]" formmodel="factory.form" name="attributeName" required="required" datatype="attributeMetadata.dataType" label-text="labelText"></valueeditor>
                                        </div>

                                        <div class="form-group" ng-switch-when="COLLECTION">
                                            <label class="control-label" for="{{attributeName}}">{{labelText}}</label>
                                            <div class="input-group" style="width: 100%;" id ="{{attributeName}}">
                                                <ul class="list-group" style="width: 100%; margin-bottom: 0;">
                                                    <li class="list-group-item clearfix" ng-repeat="item in (selected.factory.factory[attributeName] | pagingFilter:pagingConfig.itemsPerPage:pagingConfig.currentPage) track by $index">
                                                        <span class="pull-left" style="width: 90%">
                                                            <valueeditor model="selected.factory.factory[attributeName][$index]" formmodel="factory.form" name="attributeName+'_ListItem'+$index" required="required" datatype="attributeMetadata.listItemType" label-text=""></valueeditor>
                                                        </span>
                                                        <span class="pull-right">
                                                             <button type="button" class="btn btn-danger" ng-click="selected.factory.factory[attributeName].splice(selected.factory.factory[attributeName].indexOf(item),1)" ><span class="glyphicon glyphicon-remove"></span></button>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                             <span class="btn-group" role="toolbar">
                                                <button ng-disabled="isDirty()" type="button" class="btn btn-default btn-sm" ng-click="selected.factory.factory[attributeName].push(attributeMetadata.listItemEmptyValue);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                            </span>
                                            <uib-pagination class="pull-right pagination-sm" style="margin: 9px 0;" boundary-links="true" total-items="selected.factory.factory[attributeName].length" max-size="10" items-per-page="pagingConfig.itemsPerPage" ng-model="pagingConfig.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="form-group" ng-switch-when="MAP">
                                            <label class="control-label" for="{{attributeName}}">{{labelText}}</label>
                                            <div class="input-group" style="width: 100%;" id ="{{attributeName}}">
                                                <ul class="list-group" style="width: 100%; margin-bottom: 0;">
                                                    <li class="list-group-item clearfix" ng-repeat="item in (getMap(selected.factory.factory[attributeName],attributeName) | pagingFilter:pagingConfig.itemsPerPage:pagingConfig.currentPage) track by item.key">
                                                        <span class="pull-left">
                                                            <valueeditor model="selected.factory.factory[attributeName][item.key]" formmodel="factory.form" name="attributeName+'_ListItem'+$index" required="required" datatype="attributeMetadata.mapValueType" label-text="item.key"></valueeditor>
                                                        </span>
                                                        <span class="pull-right">
                                                             <button type="button" class="btn btn-danger" ng-click="deleteMapItem(item.key,selected.factory.factory[attributeName],attributeName)" ><span class="glyphicon glyphicon-remove"></span></button>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span class="btn-group" role="toolbar">
                                                <!--<button ng-disabled="isDirty()" type="button" class="btn btn-default btn-sm" ng-click="selected.factory.factory[attributeName].push(attributeMetadata.listItemEmptyValue);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
                                            </span>
                                            <uib-pagination class="pull-right pagination-sm" style="margin: 9px 0;" boundary-links="true" total-items="getMap(selected.factory.factory[attributeName],attributeName).length" max-size="10" items-per-page="pagingConfig.itemsPerPage" ng-model="pagingConfig.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="form-group" ng-switch-when="REFERENCE">
                                            <label for="{{attributeName}}">{{labelText}}</label>
                                            <div class="input-group" id ="{{attributeName}}" >
                                                <input type="text" class="form-control" readonly ng-required="field.metadata.required" placeholder="empty" value="{{selected.factory.nestedFactoriesDisplayText[selected.factory.factory[attributeName].id]}}"/>
                                                <span class="input-group-btn" role="group">
                                                    <button type="button" class="btn btn-danger" ng-click="selected.factory.factory[attributeName]=null"  ng-disabled="!selected.factory.factory[attributeName]" ><span class="glyphicon glyphicon-remove"></span></button>
                                                    <waiting-button click="selectFactory(selected.factory.factory[attributeName].id)" text="" disabled="!selected.factory.factory[attributeName] || isDirty()" bootstrapicon="glyphicon-search" bootsrapbtntype="btn-default"></waiting-button>
                                                    <!--<button type="button" class="btn btn-default" ng-click="selectFactory(selected.factory.factory[attributeName].id)" ng-disabled="!selected.factory.factory[attributeName] || isDirty()" ><span class="glyphicon glyphicon-search"></span></button>-->
                                                </span>
                                            </div>
                                            <div referenceadder attribute="selected.factory.factory[attributeName]" attributename="attributeName" factory="selected.factory" original-factory="selected.originalFactory"></div>
                                        </div>

                                        <div class="form-group" ng-switch-when="REFERENCE_LIST">
                                            <label class="control-label" for="{{attributeName}}">{{labelText}}</label>
                                            <div class="input-group" style="width: 100%;" id ="{{attributeName}}">
                                                <ul class="list-group" style="width: 100%; margin-bottom: 0;">
                                                    <li class="list-group-item clearfix" ng-repeat="item in (selected.factory.factory[attributeName] | pagingFilter:pagingConfig.itemsPerPage:pagingConfig.currentPage) track by $index">
                                                        {{selected.factory.nestedFactoriesDisplayText[item.id]}}
                                                        <span class="pull-right">
                                                            <div class="btn-group" role="group" aria-label="...">
                                                                <button type="button" class="btn btn-danger btn-sm" ng-click="selected.factory.factory[attributeName].splice(selected.factory.factory[attributeName].indexOf(item),1)" ><span class="glyphicon glyphicon-remove"></span></button>
                                                                <waiting-button click="selectFactory(item.id)" text="" disabled="isDirty()" bootstrapicon="glyphicon-search" bootsrapbtntype="btn-default btn-sm"></waiting-button>

                                                                <!--<button type="button" class="btn btn-default btn-sm" ng-click="selectFactory(item.id)" ng-disabled="isDirty()"><span class="glyphicon glyphicon-search"></span></button>-->
                                                            </div>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="pull-left" referenceadder attribute="selected.factory.factory[attributeName]" attributename="attributeName" factory="selected.factory" original-factory="selected.originalFactory"></div>
                                            <uib-pagination class="pull-right pagination-sm" style="margin: 9px 0;" boundary-links="true" total-items="selected.factory.factory[attributeName].length" max-size="10" items-per-page="pagingConfig.itemsPerPage" ng-model="pagingConfig.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div ng-switch-default>
                                            <div class="form-group">
                                                <label >{{labelText}}</label>
                                                <div>unsupported attribute type {{attributeMetadata.attributeType}}</div>
                                            </div>
                                        </div>
                                    </div>







                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <waiting-button class="pull-left" bootsrapbtntype="btn-primary" bootstrapicon="glyphicon-save" disabled="!isDirty() || factory.form.$invalid || auto.staging" click="save()" text="{{guiModel.factoryEditorModel.saveButton}}"></waiting-button>
                            <span style="margin-left:6px" class="form-group">
                                <label for="autoStaging">
                                    <input type="checkbox" id="autoStaging" name="autoStaging"  ng-model="auto.staging">
                                    Autostaging
                                </label>
                            </span>
                            <input type="submit" style="visibility: hidden;" />
                            <waiting-button class="pull-right" bootsrapbtntype="btn-default" bootstrapicon="glyphicon-erase" disabled="!isDirty() || auto.staging" click="reset()" text="{{guiModel.factoryEditorModel.resetButton}}"></waiting-button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h3>{{guiModel.factoryEditorModel.changeTitle}}</h3>
            <div class="panel panel-danger spacer" ng-if="deployResponse.validationErrors.length>0">
                <div class="panel-heading">
                    {{guiModel.factoryEditorModel.deployedValidationsTitle}}
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-bordered table-striped" style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th>{{guiModel.factoryEditorModel.validationErrorTableColumn}}</th>
                            <th>{{guiModel.factoryEditorModel.validationAttributeTableColumn}}</th>
                            <th>{{guiModel.factoryEditorModel.validationFactoryTableColumn}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in deployResponse.validationErrors">
                            <td class="danger"><strong>{{item.validationDescription}}</strong></td>
                            <td>{{item.attributeLabel}}</td>
                            <td><a ng-click="selectFactory(item.factoryId)">{{item.factoryDisplayText}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-info spacer" ng-if="deployResponse.mergeDiff">
                <div class="panel-heading">
                    {{guiModel.factoryEditorModel.deployedChangesTitle}}
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>{{guiModel.factoryEditorModel.dataItemTableColumn}}</th>
                            <th>{{guiModel.factoryEditorModel.fieldTableColumn}}</th>
                            <th>{{guiModel.factoryEditorModel.previousValueTableColumn}}</th>
                            <th>{{guiModel.factoryEditorModel.newValueTableColumn}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in deployResponse.mergeDiff.mergeInfos">
                            <td style="white-space: pre-wrap;">{{item.mergeResultEntryInfo.parentDisplayText}}</td>
                            <td style="white-space: pre-wrap;">{{item.mergeResultEntryInfo.fieldDisplayText}}</td>
                            <td style="white-space: pre-wrap;">{{item.mergeResultEntryInfo.previousValueDisplayText}}</td>
                            <td style="white-space: pre-wrap;">{{item.mergeResultEntryInfo.newValueValueDisplayText}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="alert alert-info" role="alert" ng-if="!deployResponse.mergeDiff || deployResponse.mergeDiff.mergeInfos.length==0">
                No changes.
            </div>


            <h3>{{guiModel.factoryEditorModel.deploymentTitle}}</h3>
            <waiting-button  class="text-center" bootsrapbtntype="btn-danger" bootstrapicon="glyphicon-share" disabled="!selected.factory || isDirty() || !stagedChanges" click="deploy()" text="{{guiModel.factoryEditorModel.deployButton}}"></waiting-button>

            <div class="alert alert-success spacer" role="alert" ng-if="deployResponse.deployed">
                {{guiModel.factoryEditorModel.deployMessage}}
            </div>

            <button class="btn btn-primary" ng-if="!selected.factory && (deployResponse.mergeDiff || deployResponse.validationErrors.length>0)" type="button" ng-click="loadRoot()">
                <span style="margin-right: 6px" class="glyphicon glyphicon-edit glyphicon-align-left" aria-hidden="true"></span >{{guiModel.factoryEditorModel.editButton}}
            </button>
        </div>
    </div>
</div>