<span>
    <span ng-switch="datatype.dataType">

        <span class="form-group" ng-switch-when="String" ng-class="getInputCssClass(formmodel[name].$error)">
            <label class="control-label" for="{{name}}">{{labelText}}</label>
            <input ng-model-options="{ debounce: 200 }" type="text" class="form-control" id="{{name}}" name="{{name}}" ng-model="$parent.model" ng-required="required">
        </span>

        <div class="form-group" ng-switch-when="BigDecimal" ng-class="getInputCssClass(formmodel[name].$error)">
            <label class="control-label" for="{{name}}">{{labelText}}</label>
            <input ng-model-options="{ debounce: 200 }" type="text" class="form-control" id="{{name}}" name="{{name}}" ng-model="$parent.model" ng-required="required" ng-pattern="/^-{0,1}[0-9]+(\.[0-9]+)?$/">
        </div>

        <div class="form-group" ng-switch-when="Boolean" ng-class="getInputCssClass(formmodel[name].$error)">
            <label for="{{name}}">
                <input type="checkbox" id="{{name}}" name="{{name}}"  ng-model="$parent.model">
                {{labelText}}
            </label>
        </div>

        <div class="form-group" ng-switch-when="Double" ng-class="getInputCssClass(formmodel[name].$error)">
            <label class="control-label" for="{{name}}">{{labelText}}</label>
            <input ng-model-options="{ debounce: 200 }" type="number" class="form-control" id="{{name}}" name="{{name}}" ng-model="$parent.model" ng-required="required">
        </div>

        <div class="form-group" ng-switch-when="Integer" ng-class="getInputCssClass(formmodel[name].$error)">
            <label class="control-label" for="{{name}}">{{labelText}}</label>
            <input ng-model-options="{ debounce: 200 }" type="number" class="form-control" id="{{name}}" name="{{name}}" ng-model="$parent.model" min="-2147483648" max="2147483647" ng-required="required">
        </div>

        <div class="form-group" ng-switch-when="Long" ng-class="getInputCssClass(formmodel[name].$error)">
            <label class="control-label" for="{{name}}">{{labelText}}</label>
            <input ng-model-options="{ debounce: 200 }" type="text" class="form-control" id="{{name}}" name="{{name}}" ng-model="$parent.model" ng-minlength="0" ng-maxlength="20" ng-required="required" ng-pattern="/^-{0,1}[0-9]+$/">
        </div>

        <div class="form-group" ng-switch-when="Enum" ng-class="getInputCssClass(formmodel[name].$error)">
            <label class="control-label" for="{{name}}">{{labelText}}</label>
            <select class="form-control" id="{{name}}" name="{{name}}"  ng-required="required" ng-model="$parent.model">
                <option ng-repeat="option in datatype.enumValues" value="{{option}}">{{option}}</option>
                <option></option>
            </select>
        </div>

        <div class="form-group" ng-switch-when="LanguageText" ng-class="getInputCssClass(formmodel[name].$error)">
            <label class="control-label" for="{{name}}">{{labelText}}</label>
            <div class="row" style="margin-top: 3px;">
                <div class="col-md-11">
                    <div ng-repeat="(language, value) in $parent.model.texts">
                        <div class="input-group input-group-sm"">
                          <span class="input-group-addon" >{{language}}</span>
                          <input ng-model-options="{ debounce: 200 }" type="text" class="form-control" ng-model="$parent.model.texts[language]">
                        </div>
                      </div>
                </div>
                <div class="col-md-1" ng-init="locale='en'">
                    <select class="form-control input-sm" ng-model="locale" ng-change="$parent.model.texts[locale]=''">
                        <option value="de">de</option>
                        <option value="en">en</option>
                    </select>
                </div>
            </div>
            </div>
        </div>

        <div class="form-group" ng-switch-when="byte[]" ng-class="getInputCssClass(formmodel[name].$error)">
             {{base64Data}}
            <label class="control-label" for="{{name}}">{{labelText}}</label>
            <textarea class="form-control" id="{{name}}" name="{{name}}"  ng-required="required" ng-model="$parent.model"></textarea>
            <!--<input class="form-control" type="file"  ng-change="$parent.model=fileToBase64(this.files)" >-->
            <label class="btn btn-default btn-file pull-left">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span> File <input type="file" style="display: none;" file-on-change="handleFileSelect">
            </label>
            <span class="pull-right">Base64</span>
            <span class="clearfix"></span>
        </div>



        <div ng-switch-default>
            <div class="form-group">
                <label >{{labelText}}</label>
                <div>unsupported attribute type {{datatype.dataType |json}}</div>
            </div>
        </div>
    </span>
</span>
