* {
    DANGER_COLOR: #FF7979;
    WARNING_COLOR: #F0AD4E;
    INFO_COLOR: #5BC0DE;
    SUCCESS_COLOR: #5CB85C;
    PRIMARY_COLOR: #5494CB;
}

.diffUnchanged {
    -fx-fill: rgba(0, 0, 0, 1);
}
.diffOld {
    -fx-fill: #ff6140;
    -fx-strikethrough: true;
}
.diffNew {
    -fx-fill: #2c8033;
}
.diffTextField{
    -fx-font-family: Consolas;
}

.conflictRow {
    -fx-background-color: #ff8991;
    -fx-font-weight: bold;
    /*-fx-background: red ;*/
    /*-fx-alignment:CENTER-RIGHT;*/
    /*-fx-border-width: .5px;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-color:red;*/
}

.table-view {
    -fx-font-size: 12px;
}

.hidden-tableview-headers{

}

.hidden-tableview-headers .column-header-background {
    visibility: hidden; -fx-padding: -1em;
}

.error {
    -fx-effect: dropshadow(three-pass-box, DANGER_COLOR, 5, 0, 0, 0);
    /*-fx-border-color: DANGER_COLOR;*/
    -fx-control-inner-background: derive(DANGER_COLOR,90%);
}

.transparent-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
}
